body {
    background-color: white;
    font-family: "Raleway", sans-serif;
    color: #445361;
    text-align: center;
}


head {
    text-align: center;
    font-size: 2.5rem;
}

.item {
    color: rgb(19, 198, 13);
}

#type {
    width: 20%;
    margin: 5px;
}

#date {
    width: 20%;
    margin: 5px;
}

#name {
    width: 20%;
    margin: 5px;
}

#amount {
    width: 20%;
    margin: 5px;
}

button {
    margin: 5px;
    color: blue;
}

#expense-table {
    margin-left: 25%;
    margin-top: 3%;

}

table {

    color: aliceblue;
    text-align: center;
    background: black;
    width: 65%;
}

table,
th {
    border: 1px solid wheat;
}